/* CSS for the Entire Page */
.App {
    position: relative;
    min-height: 100vh;
}

/* CSS for main.js */
.mainPageContent {
    padding-bottom: 2.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.name {
    display: inline-block;
    padding: 10px;
}

ul {
    display: inline;
}

li {
    float: right;
    padding: 10px;
    list-style: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    height: 2.5rem;
}