@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS for the Entire Page
.App {
    position: relative;
    min-height: 100vh;
}

/* CSS for main.js */
/* .aboutPageContent {
    padding-bottom: 2.5rem;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -100px;
}

.name {
    display: inline-block;
    padding: 10px;
    padding-top: 20px;
}

ul {
    display: inline;
}

li {
    float: right;
    list-style: none;
    padding: 10px;
    padding-top: 20px;
} */

/* CSS for NavBar */
/* .navigationalBar {
    background-color: #fff2e6;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 20px;
    height: 2.5rem;
    background-color: #FAF9F6;
}

/* CSS for divider */
/* .curvedDivider {
    background-color: #fff2e6;
}

.curvedDivider svg {
    display: block;
} */

/* CSS for resume */
/* .resume {
    background-color: white;
}   */